.news{
    max-width: 533px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.news__item{
    padding-bottom: 20px;
    max-width: 240px;
}

.news__img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

.news__title{
    color: #666666;
    font-family: Georgia;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 16.8px;
    padding-left: 10px;
}

.news__top-info{
    display: flex;
    align-items: center;
}

.news__text{
    color: #989898;
    font-family: Georgia;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    padding-top: 14px;
}

@media screen and (max-width: 980px){
    .news__item{
        margin: 0px auto;
    }
}
