.news
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.    
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
    .news__item
        .news__top-info
            .news__img(style="background: url('img/picture-news.png')")
            .news__title Benefit Title Here
        .news__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.    
