.container{
    max-width: 990px;
    margin: 0px auto;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    padding-bottom: 20px;
}

.container_wrapper{
}

.container_width_full{
    width: 100%;
    max-width: 100%;
}

.container__title{
    color: #ffffff;
    font-family: Georgia;
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 25px;
}

.container__text{
    color: #ffffff;
    font-family: Georgia;
    font-weight: 400;
    line-height: 25.6px;
}

.container__button{
    background: #10131b url("img/phone.png") no-repeat 21px;
    width: 306px;
    height: 76px;
    text-align: center;
    color: #ffffff;
    font-family: Georgia;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    text-transform: uppercase;
    margin-top: 25px;
    padding-left: 65px;
    padding-top: 13px;
    border-radius: 11px;
    display: block;
}

.container__column{
    max-width: 556px;
}

.container__img{
    width: 384px;
    height: 420px;
    background: url("img/big-phone.png") no-repeat center / cover;
}

.container_now-available{
    padding-top: 30px;
}

.container_subscribe{
    border-radius: 10px;
    background-color: #fff;
}

.container__circles{
    display: flex;
    flex-wrap: wrap;
    max-width: 512px;
}

.container__circle{
    background-color: #b86365;
    border: #e2e2e2 solid 17px;
    width: 215px;
    height: 215px;
    border-radius: 120px;
    text-align: center;
    padding: 30px;
    color: #fff;
    margin-right: 20px;
    margin-top: 20px;
}

.container__circle-title{
    padding-bottom: 23px;
    color: #ffffff;
    font-family: Georgia;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
}

.container__circle-text{
    color: #ffffff;
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
}

@media screen and (max-width: 980px){
    .container__column{
        padding-top: 70px;
        text-align: center;
    }
    .container__img{
        width: 300px;
        background-size: contain;
    }
    .container__button{
        margin-left: auto;
        margin-right: auto;
    }
    .container__circle{
        margin-left: auto;
        margin-right: auto;
    }
}
