.container{
    max-width: 990px;
    margin: 0px auto;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    padding-bottom: 20px;
}

.container_wrapper{
}

.container_width_full{
    width: 100%;
    max-width: 100%;
}

.container__title{
    color: #ffffff;
    font-family: Georgia;
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 25px;
}

.container__text{
    color: #ffffff;
    font-family: Georgia;
    font-weight: 400;
    line-height: 25.6px;
}

.container__button{
    background: #10131b url("img/phone.png") no-repeat 21px;
    width: 306px;
    height: 76px;
    text-align: center;
    color: #ffffff;
    font-family: Georgia;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    text-transform: uppercase;
    margin-top: 25px;
    padding-left: 65px;
    padding-top: 13px;
    border-radius: 11px;
}

.container__column{
    max-width: 556px;
}

.container__img{
    width: 384px;
    height: 420px;
    background: url("img/big-phone.png") no-repeat center / cover;
}

.container_now-available{
    padding-top: 30px;
}

.container_subscribe{
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 980px){
    .container__column{
        padding-top: 70px;
        text-align: center;
    }
    .container__img{
        width: 300px;
        background-size: contain;
    }
    .container__button{
        margin-left: auto;
        margin-right: auto;
    }
}
