footer.footer
    .footer__wrapper
        .footer__social
            .footer__item
                .footer__item-title From the blog
                .footer__blog-name Blog Post Title
                .footer__blog-author Posted by Admin on 00.00.0000
                .footer__text Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet.
                a.link.link_footer(href="#") Read More »
            .footer__item
                .footer__item-title Quick links
                a.link.link__quick-link(href="#") Link Text Here
                a.link.link__quick-link(href="#") Link Text Here
                a.link.link__quick-link(href="#") Link Text Here
                a.link.link__quick-link(href="#") Link Text Here
                a.link.link__quick-link(href="#") Link Text Here
                a.link.link__quick-link(href="#") Link Text Here
            .footer__item
                .footer__item-title Contact us
                .footer__mini-block
                    .footer__text Company Name
                    .footer__text Street Name & Number
                    .footer__text Town
                    .footer__text Postcode/Zip
                .footer__mini-block
                    .footer__text Tel:
                    .footer__text xxxxx xxxxxxxxxx
                .footer__mini-block
                    .footer__text Fax:
                    .footer__text xxxxx xxxxxxxxxx
                .footer__mini-block
                    .footer__text Email:
                    .footer__text contact@mydomain.com
            .footer__item
                .footer__item-title Socialise
                a.footer__socialise-item(href="#")
                    .footer__img
                    .footer__social-name Facebook
                a.footer__socialise-item(href="#")
                    .footer__img
                    .footer__social-name Twitter    
                a.footer__socialise-item(href="#")
                    .footer__img
                    .footer__social-name Photos on Flickr
                a.footer__socialise-item(href="#")
                    .footer__img
                    .footer__social-name RSS Feed
        .footer__copyright
            .footer__text Copyright © 2013 Domain Name - All Rights Reserved
            .footer__text Template by OS Templates
