.link{
    color: #666666;
}

.link_header{
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    padding-top: 49px;
}

.link_header:hover{
    border-top: #b86365 solid 4px;
    color: #ffffff;
}

.link_header:focus{
    color: #ffffff;
}

.link_footer{
    padding-top: 12px;
    color: #b86365;
    padding-left: 120px;
}

.link__quick-link{
    border-bottom: #2f384b solid 1px;
    padding-bottom: 10px;
    margin-top: 15px;
    display: block;
}

@media screen and (max-width: 920px){
    .link_header{
        padding-bottom: 25px;
        padding-top: 25px;
        border-bottom: #666666 solid 1px;
        width: 100%;
        text-align: center;
    }
    .link_header:hover{
        border-top: none;
    }
}
