doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        main
            .container.container_now-available
                .row.row_flex-end
                    .container__column
                        .container__title Cursus penati saccum.
                        .container__text This is a W3C standards compliant free PSD website template from OS Templates. This template is distributed using a Website Template Licence. For more free PSD templates visit 
                            a(href="#") OS-Templates.com
                        a.container__button(href="#") Now available in the app store
                    .container__img
            .container.container_subscribe
                .row.row_subcribe
                    .container__circles
                        .container__circle
                            .container__circle-title FEATURE 1
                            .container__circle-text Justoid nonummy laoreet phasellent penatoque in 
                        .container__circle
                            .container__circle-title FEATURE 2
                            .container__circle-text Justoid nonummy laoreet phasellent penatoque in 
                        .container__circle
                            .container__circle-title FEATURE 3
                            .container__circle-text Justoid nonummy laoreet phasellent penatoque in 
                        .container__circle
                            .container__circle-title FEATURE 4
                            .container__circle-text Justoid nonummy laoreet phasellent penatoque in 
                        .container__news
                    include ../blocks/news/news.jade
        include ../blocks/footer/footer.jade
