.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_flex-end{
    align-items: flex-end;
}

@media screen and (max-width: 900px){
    .row_subcribe{
        flex-direction: column;
    }
}

@media screen and (max-width: 980px){
    .row_flex-end{
        flex-direction: column;
        align-items: center;
    }
}
