noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        a.header__logo(href="#")
            .header__logo-name Smart app
            .header__logo-info Free PSD Website Template
        .header__hidden
        .header__menu
            a.link.link_header(href="#") Home
            span.header__line |
            a.link.link_header(href="#") Style demo
            span.header__line |
            a.link.link_header(href="#") Full width
            span.header__line |
            a.link.link_header(href="#") Dropdown
            span.header__line |
            a.link.link_header(href="#") Gallery
        
